<div>
	<p>Title: <%= @song.title %></p>
	<p>Lyrics: <%= @song.lyrics %></p>
	<p>ID: <%= @song.id %></p>
	<p>Length: <%= @song.length %></p>
	<a href="/song/<%= @song.id %>/edit">EDIT SONG</a>
</div>
	
	<div id="like">
      <p></p>
      <form action="/like/<%=@song.id%>" method="POST">
			 <input type="submit" value="like"/>
			<!-- <button id="likebutton" onclick="like()">LIKE</button> -->
			</form>
	</div>


<div>	
	<form action="/song/<%= @song.id %>" method="POST" >
		<input type="hidden" name="_method" value="DELETE" />
		<input type="submit" value="delete" id="del" onclick="doit()"/>
	</form>	
</div><br>



<div><p id="title"></p></div>
<div><p id="id"></p></div>
<div><p id="lyrics"></p></div>
<div><p id="length"></p></div>
<div><p id="val"></p>

<a href="/songs">Back to songs</a>